.container{
    display: flex;
    justify-content: space-between;
    
}
.menu{
    display: flex;
    justify-content: space-between;
    
}

.bienvenue{
    
    text-align: center;
    margin: auto;
  width: 50%;
  border: 3px solid green;
  
}

.auth{
    text-align: end;
    padding: 5px;
}

.entete{
    display: flex;
}

.userInformation{
    display: flex;
    justify-content: space-between;
    text-align: end;
    
}
.deconnexion{
    
    text-align: end;
    
}
.bonjour{
    font-weight: bold;
    padding-right: 5px;
}

.prenom,.nom{
    text-transform:uppercase;
    padding-right: 5px;
}