<div class="container" *ngIf="this.userIsConnected">
   

    <div class="menu">

        <div>
            <button routerLink="/produits">Produits</button>
        </div>
        <div>
            <button routerLink="/ventes">Ventes</button>
        </div>
        <div *ngIf="userIsAdmin">
            <button routerLink="/user">User</button>
        </div>
        

    </div>
    
    <div class="userInformation">
        <div class="deconnexion">
        
            <div>
                <button routerLink="/login" (click)="onDeconnectUser()">Déconnexion</button>
    
            </div>
            
        </div>
        <div><p class="bonjour">Bonjour</p></div>
        <div><p class="prenom">{{this.service.user$.value.prenom}}</p></div>
        <div><p class="nom">{{this.service.user$.value.nom}}</p></div> 

    </div>
    
</div>

<router-outlet></router-outlet>